<div id="header">


  <%= link_to root_path do%>
      <div class="header1 links">Home</div>
  <% end %>

  <%= link_to new_page_path do%>
      <div class="header2 links"> Create new page</div>
  <% end %>

</div>

<!--<div class="col-md-8 offset-md-2">-->
  <!--<% flash.each do |key, message| %>-->
      <!--<% message.each do |msg| %>-->
          <!--<p class="<%= key %>"><%= msg %></p>-->
      <!--<% end %>-->
  <!--<% end %>-->
<!--</div>-->